SIGESDOC.Host/Connected Services/MesaVirtualService/MesaVirtualService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRecepcionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecepcionResponse" nillable="true" type="tns:RecepcionResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecepcionResponse" nillable="true" type="tns:ArrayOfRecepcionResponse" />
  <xs:complexType name="RecepcionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="bcarstd" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ccoduniorgstd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cflgenvcar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cflgest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cflgestobs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ctipdociderem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dfecmod" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dfecreg" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dfecregstd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="sidrecext" type="xs:short" />
      <xs:element minOccurs="0" name="vanioregstd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vcuo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vcuoref" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vdesanxstd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vnumdociderem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vnumregstd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vobs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vrucentrem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vuniorgrem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vuniorgstd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vusumod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vusuregstd" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecepcionResponse" nillable="true" type="tns:RecepcionResponse" />
</xs:schema>