SIGESDOC.Host/Connected Services/MesaVirtualService/MesaVirtualService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58484/MesaVirtualService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="GuardaRecepcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idrecepcion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaRecepcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GuardaRecepcionResult" nillable="true" type="q1:ArrayOfRecepcionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recupera_Recepcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idrecepcion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recupera_RecepcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Recupera_RecepcionResult" nillable="true" type="q2:RecepcionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecepcions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecepcionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetRecepcionsResult" nillable="true" type="q3:ArrayOfRecepcionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>