SIGESDOC.Host/Connected Services/MesaVirtualService/MesaVirtualService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MesaVirtualService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58484/MesaVirtualService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58484/MesaVirtualService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58484/MesaVirtualService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMesaVirtualService_GuardaRecepcion_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardaRecepcion" />
  </wsdl:message>
  <wsdl:message name="IMesaVirtualService_GuardaRecepcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardaRecepcionResponse" />
  </wsdl:message>
  <wsdl:message name="IMesaVirtualService_Recupera_Recepcion_InputMessage">
    <wsdl:part name="parameters" element="tns:Recupera_Recepcion" />
  </wsdl:message>
  <wsdl:message name="IMesaVirtualService_Recupera_Recepcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:Recupera_RecepcionResponse" />
  </wsdl:message>
  <wsdl:message name="IMesaVirtualService_GetRecepcions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecepcions" />
  </wsdl:message>
  <wsdl:message name="IMesaVirtualService_GetRecepcions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecepcionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IMesaVirtualService">
    <wsdl:operation name="GuardaRecepcion">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesaVirtualService/GuardaRecepcion" message="tns:IMesaVirtualService_GuardaRecepcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesaVirtualService/GuardaRecepcionResponse" message="tns:IMesaVirtualService_GuardaRecepcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Recupera_Recepcion">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesaVirtualService/Recupera_Recepcion" message="tns:IMesaVirtualService_Recupera_Recepcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesaVirtualService/Recupera_RecepcionResponse" message="tns:IMesaVirtualService_Recupera_Recepcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecepcions">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesaVirtualService/GetRecepcions" message="tns:IMesaVirtualService_GetRecepcions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesaVirtualService/GetRecepcionsResponse" message="tns:IMesaVirtualService_GetRecepcions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMesaVirtualService" type="tns:IMesaVirtualService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardaRecepcion">
      <soap:operation soapAction="http://tempuri.org/IMesaVirtualService/GuardaRecepcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Recupera_Recepcion">
      <soap:operation soapAction="http://tempuri.org/IMesaVirtualService/Recupera_Recepcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecepcions">
      <soap:operation soapAction="http://tempuri.org/IMesaVirtualService/GetRecepcions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MesaVirtualService">
    <wsdl:port name="BasicHttpBinding_IMesaVirtualService" binding="tns:BasicHttpBinding_IMesaVirtualService">
      <soap:address location="http://localhost:58484/MesaVirtualService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>